<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cdkj.wzcd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 二维码扫描需要使用的权限↓↓↓↓↓↓↓↓↓ -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!-- 【必须】 信鸽SDK所需权限   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!--信鸽SDK结束END-->


    <!-- 二维码扫描上面↑↑↑↑↑↑ -->
    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".module.user.SignInActivity" />
        <activity android:name=".module.work.credit.CreditListActivity" />
        <activity android:name=".module.work.credit.CreditUserActivity" />
        <activity android:name=".module.work.credit.CreditDetailActivity" />
        <activity android:name=".module.work.credit.CreditInitiateActivity" />
        <activity android:name=".module.work.credit.AuditResultInputActivity" />
        <activity android:name=".module.work.credit.audit.AuditCreditActivity" />
        <activity android:name=".module.work.credit.audit.AuditUserActivity" />
        <activity android:name=".module.tool.uservoid.ZrdListActivity" />
        <activity android:name=".module.tool.uservoid.BlankOutActivity" />
        <activity android:name=".module.tool.uservoid.UserToVoidActivity" />
        <activity android:name=".module.tool.uservoid.UserToVoidDetailsActivity" />
        <activity android:name=".module.tool.gps.GpsListActivity" />
        <activity android:name=".module.tool.gps.GpsApplyActivity" />
        <activity android:name=".module.tool.gps.GpsDetailsActivity" />
        <activity android:name=".module.tool.history.HistoryUserActivity" />
        <activity android:name=".module.tool.history.HistoryUserDetailsActivity" />
        <activity android:name=".module.tool.history.RepaymentListActivity" />
        <activity android:name=".module.tool.gps_install.GpsDetailActivity" />
        <activity android:name=".module.work.advancefund.AdvanceFundListActivity" />
        <activity android:name=".module.work.advancefund.AdvanceFundApplyActivity" />
        <activity android:name=".module.work.advancefund.AdvanceFundDetailActivity" />
        <activity android:name=".module.tool.fabaohe.FbhListActivity" />
        <activity android:name=".module.tool.fabaohe.FbhDetailActivity" />
        <activity android:name=".module.tool.fabrication.FabricationInputActivity" />
        <activity android:name=".module.tool.fabrication.FabricationApplyActivity" />
        <activity android:name=".module.tool.fabrication.FabricationListActivity" />
        <activity android:name=".module.tool.mismatching.MismatchingListActivity" />
        <activity android:name=".module.tool.mismatching.MismatchingDetailActivity" />
        <activity android:name=".module.datatransfer.GpsSendActivity" />
        <activity android:name=".module.datatransfer.DataReceiveActivity" />
        <activity android:name=".module.tool.gps_install.GPSInstallListActivity" />
        <activity android:name=".module.tool.gps_install.GPSInstallInfoActivity" />
        <activity android:name=".module.tool.gps_install.GPSInfoAddActivity" />
        <activity android:name=".module.work.credit.audit.BankCreditResultActivity" />

        <!-- 数据请求 -->

        <activity android:name=".module.work.cldy.BssCldyListActivity" />
        <activity android:name=".module.work.cldy.CldyInputMessageActivity" />
        <activity android:name=".module.work.bank_loan.BankLoanListActivity" />
        <activity android:name=".module.work.bank_loan.BankLoanCommitActivity" />
        <activity android:name=".module.work.bank_loan.BankLoanInputActivity" />
        <activity android:name=".module.work.cldy.CldyApplyActivity" />
        <activity android:name=".module.tool.jcdy.JcdyActivity" />
        <activity android:name=".module.tool.jcdy.JcdyListActivity" />
        <activity android:name=".module.tool.gps_install.GpsCancelActivity" />
        <activity android:name=".module.work.join_approval.JoinApplyActivity" />
        <activity android:name=".module.work.join_approval.JoinApplyListActivity" />
        <activity android:name=".module.work.join_approval.GPSAddActivity" />
        <activity android:name=".module.work.join_approval.RePointAddActivity" />
        <activity android:name=".module.work.join_approval.AdvanceFundActivity" />
        <activity android:name=".module.datatransfer.DataAddReasonActivity" />
        <activity android:name=".module.datatransfer.TransferActivity" />
        <activity android:name=".module.datatransfer.DataSupplementActivity" />
        <activity android:name=".widget.PictureVideoPlayActivity" />
        <activity android:name=".module.datatransfer.GpsReceiveActivity" />
        <activity android:name=".module.datatransfer.DataSendActivity" />

        <!-- <activity android:name=".module.business.join_approval.JoinApplyListActivity" /> -->
        <!-- <activity android:name=".module.business.face_view.InterviewActivity" /> -->
        <!-- <activity android:name=".module.business.face_view.InterviewStartActivity" /> -->
        <!-- <activity android:name=".module.business.join_approval.edit.JoinStep1Activity" /> -->


        <!-- <activity android:name=".module.user.UserInfoActivity" /> -->
        <!-- <activity android:name=".module.business.join_approval.edit.JoinStep2Activity" /> -->
        <!-- <activity android:name=".module.business.join_approval.edit.JoinStep3Activity" /> -->
        <!-- <activity android:name=".module.business.join_approval.edit.JoinStep4Activity" /> -->
        <!-- <activity android:name=".module.business.join_approval.edit.JoinStep5Activity" /> -->
        <!-- <activity android:name=".module.business.join_approval.edit.JoinStep6Activity" /> -->
        <!-- <activity android:name=".module.business.join_approval.JoinApplyActivity" /> -->


        <!-- <activity android:name=".module.business.face_view.RoomActivity" /> -->
        <!-- <activity android:name=".module.business.face_view.MainActivity" /> -->

        <activity android:name=".module.tool.calculator.CalculautorActivity" />
        <activity android:name=".module.work.credit.audit.AuditOneActivity" />
        <activity android:name=".module.work.credit.audit.AuditCourtNetwork" />
        <activity android:name=".module.work.bank_loan.SendingLoanListActivity" />
        <activity android:name=".MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.xg.push"
                    android:path="/notify_detail"
                    android:scheme="xgscheme" />
            </intent-filter>
        </activity>
        <activity android:name=".main.credit.module.zrzl.ZrzlActivity" />
        <activity android:name=".main.credit.module.zrzl.CarBrandActivity" />
        <activity android:name=".main.credit.CreditPageActivity" />
        <activity android:name=".main.credit.module.zrsh.ZrshActivity" />
        <activity android:name=".main.credit.module.yksq.YksqActivity" />
        <activity android:name=".main.credit.module.zrzl.step.dkrxx.StepDkrxxActivity" />
        <activity android:name=".main.credit.module.zrzl.step.dkrxx.StepDkrxxIdActivity" />
        <activity android:name=".main.credit.module.zrzl.step.dkrxx.StepDkrxxInfoActivity" />
        <activity android:name=".main.credit.module.zrzl.step.dkrxx.StepDkrxxInfoFeiActivity" />
        <activity android:name=".main.credit.module.yksh.YkshActivity" />
        <activity android:name=".main.credit.module.yhtj.YhtjActivity" />
        <activity android:name=".main.credit.module.zdhl.ZdhlActivity" />
        <activity android:name=".main.credit.module.yhsj.YhsjActivity" />
        <activity android:name=".main.credit.module.rd.RdActivity" />
        <activity android:name=".main.credit.module.qrsk.QrskActivity" />
        <activity android:name=".main.credit.module.qrdy.QrdyActivity" />
        <activity android:name=".main.credit.module.lrfk.LrfkActivity" />
        <activity android:name=".main.credit.module.fsdy.FsdyActivity" />
        <activity android:name=".main.credit.module.dzhl.DzhlActivity" />
        <activity android:name=".main.credit.module.ljdj.LjdjActivity" />
        <activity android:name=".main.credit.module.djcz.DjczActivity" />
        <activity android:name=".main.credit.module.lrfk.YhhtActivity" />
        <activity android:name=".main.credit.module.yksh.RwglActivity" />
        <activity android:name=".main.credit.module.yksh.RwActivity" />
        <activity android:name=".main.credit.CreditActivity" />
        <activity android:name=".main.credit.module.zrzl.detail.DetailSdActivity" />
        <activity android:name=".main.message.MessageActivity" />
        <activity android:name=".main.credit.CreditPledgePageActivity" />
        <activity android:name=".common.SearchActivity" />
        <activity android:name=".main.credit.module.qrpg.QrpgActivity" />
        <activity android:name=".main.credit.module.gps.GPSApplyActivity2" />
        <activity android:name=".main.credit.module.gps.GPSSHActivity" />
        <activity android:name=".main.credit.module.gps.GPSSHDetialsActivity"></activity>


        <!--<activity-->
        <!--android:name=".MainActivity2"-->
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >-->
        <!--<intent-filter >-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--<data android:scheme="xgscheme"-->
        <!--android:host="com.xg.push"-->
        <!--android:path="/notify_detail" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

    </application>

</manifest>